/* p{
    color: aquamarine;
} */

/* .mytag{
    color: aquamarine;
} */

.mytag{
    color: aqua;
}
/* .mytag{
    color:red !important;
} */
 /* #oye{
    color: rgb(140, 127, 255);
}
.name {
    color: brown;
} */

 /* *{
    color: aquamarine;
 } */

 /* .mydiv p{
    color: bisque;
 } */
/* .first{
    color: cyan;
}
.second{
    font-size: 10px;
} */


/* #wow{
    color: aqua;
} */

.san{
    font-size: 50px;
    text-align: center;
    color: aquamarine;
    text-transform: uppercase;
    text-shadow: 5px 5px 7px  black ;
}