/* table,td,tr{
    /* border-collapse: collapse; */
    /* border: 2px solid black;  */
    /* text-align: center;
    border-radius: 20px;
    
}
table{
    border-radius: 10px;
    overflow: hidden;
}

td{
    padding: 5px 10px;
} */
/* tr:last-child{
    background-color: aqua;
    font-weight: 600px;
} */
/* tr:nth-child(even){
    background-color: aquamarine;
}
tr:first-child{
    background-color: aqua;
}
tr:hover{
    background-color: bisque;

} */
.parent{
    /* width: 100px;
    height: 100px;
    border: 2px solid black;
    z-index: -1px; */
    position: relative;
}
/* .parent img{
    position:absolute;
    top: 0;
    z-index:-1
} */
.c1{
    position: absolute;
    width: fit-content;
    height: fit-content;
    border: 2px solid red;
}
.c2{
    position: absolute;
    top: 40px;
    width: fit-content;
    height: fit-content;
    border: 2px solid black;
    display: none;
}
.c3{
    position: absolute;
    top: 40px;
    width: fit-content;
    height: fit-content;
    border: 2px solid black;
    display: none;
}
.parent:hover{
    /* height: 100svh; */
    height: 100px;
    width: 100px;
    /* background-color: red; */
}
.parent:hover .c2{
    display: block;

}
.ch1{
    position: absolute;
    top: 100px;
    width: fit-content;
    height: fit-content;
    border: 2px solid black;
    display: none;

}
.ch2{
    position: absolute;
    top: 100px;
    width: fit-content;
    height: fit-content;
    border: 2px solid black;
    display: none;
}
.ch2 .nonveg{
    position: absolute;
    top: 50px;
    width: fit-content;
    height: fit-content;
    border: 2px solid black;
    display: none;
}
.ch1 .veg{
    position: absolute;
    top: 100px;
    width: fit-content;
    height: fit-content;
    border: 2px solid black;
    display: none;
}
/* .parent:hover .c2 .ch2 .nonveg{
    display: block;

} */

.c2:hover .ch2{
    display: block;
    background-color: aqua;
}
.c3:hover .ch1{
    display: block;
    background-color: aquamarine;
}



